#header {
  background-color: $white; 
  z-index: 10;
  height: 90px;
  width: 100%;
    .logo {
      justify-content: center;
      padding: 15px 0 15px 0;
      position: absolute;
      margin: auto;
      left: 2%;
      max-width: 30%;
        img {
          height: 40px;
           }
    }
}

nav {
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: space-around;
  width: 70%;

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding: 10px 0 30px 0;
      li {
        display: inline-block;
         margin-left: 10px;
      
      a {
        font-family: 'Kanit', sans-serif;
        display: flex;
        font-size: 1.2em;
        color: $black;
        text-decoration: none;
        cursor: crosshair;
        caret-color: $light-color;
        border-radius: 1px;
        padding: 0px 10px;
      }
      a:hover {
        font-weight: bold;
        color: $light-color;
        border-bottom: 2px solid $black;
      }
      .activeli {
        color: $mid-color;
      }
    }
  }  
  .toggler {
    display: none;
  }
}


@media only screen and (max-width: 610px) {
  .menu-mobile {
   position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .menu-mobile .toggler {
    display: flex;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 2;
    cursor: crosshair;
    width: 60px;
    height: 60px;
    opacity: 0;
    
  }
  
  .menu-mobile .hamburger {
    position: absolute;
    top: 2px;
    left: 100px;
    z-index: 1;
    width: 40px;
    height: 30px;
    padding: 0.75rem;
 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  /* Hamburger Line */
  .menu-mobile .hamburger > div {
    position: relative;
    flex: none;
    width: 80%;
    height: 2px;
    background: $dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-mobile .hamburger > div::before,
  .menu-mobile .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-mobile .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-mobile .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-mobile .toggler:checked + .hamburger > div:before,
  .menu-mobile .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-mobile .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
    background-color: $white;
  }
  
  /* Show Menu */
  .menu-mobile .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-mobile .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
  
  .menu-mobile .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-mobile .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-mobile .menu > div {
    
    background: $dark-color;
    border-radius: 100%;
    width: 400vw;
    height: 400vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-mobile .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-mobile .menu > div > div > ul > li {
    list-style: none;
    color: $white;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-mobile .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  

}



.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}


