#header {
  background-color: $white; 
  z-index: 10;
  height: 60px;
  width: 100%;
    .logo {
      padding: 5px 0;
      position: absolute;
      left: 2%;
        img {
          height: 50px;
           }
    }
}

nav {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: space-around;
  width: 40%;

  ul {
    margin: 0 1% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
      li {
        display: inline-block;
        line-height: 60px;
        margin-left: 10px;
        font-size: 1.2rem;
      
      a {
        font-family: 'Kanit', sans-serif;
        display: flex;
        font-size: 1.2em;
        color: $grey;
        text-decoration: none;
        cursor: crosshair;
        caret-color: $dark-grey;
      }
      .activeli {
        color: $black;
      }
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

// @media (min-width: 680px) {
//   .jsSticky {
//     width: 100%;
//     height: 60px;
//     position: relative;
//   }
//   .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
//   }
// }


// @supports (position: sticky) or (position: -webkit-sticky) {
//   @media (min-width: 680px) {
//     .jsSticky {
//       position: -webkit-sticky;
//       position: sticky;
//       top: 0;
//     }
//   }
// }